<%= form_for(@dose) do |f| %>
  <% if @dose.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dose.errors.count, "error") %> prohibited this dose from being saved:</h2>

      <ul>
      <% @dose.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :quantity %><br>
    <%= f.number_field :quantity %>
  </div>
  <div class="field">
    <%= f.label :cocktail_id %><br>
    <%= f.text_field :cocktail_id %>
  </div>
  <div class="field">
    <%= f.label :ingredient_id %><br>
    <%= f.text_field :ingredient_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
